<script setup lang="ts">
import Modal from "./Modal.vue";
import CustomButton from "../buttons/CustomButton.vue";
import type { IconOption } from "@/types";

defineProps({
  open: Boolean,
  label: {
    type: String,
    required: true,
  },
  explanation: String,
  acceptLabel: {
    type: String,
    default: "Yes",
  },
  acceptIcon: Object as () => IconOption,
  rejectLabel: {
    type: String,
    default: "No",
  },
  rejectIcon: Object as () => IconOption,
  dangerous: Boolean,
  preferReject: Boolean,
  onlyAccept: Boolean,
});

defineEmits(["accept", "reject", "close"]);
</script>

<template>
  <modal :open="open" @close="$emit('close')" closes-on-click-away>
    <div class="confirm-action-modal">
      <h6 class="title">{{ label }}</h6>
      <p v-if="explanation">{{ explanation }}</p>
      <div class="confirm-action-modal-buttons" :class="{ center: onlyAccept }">
        <custom-button
          :variant="preferReject ? 'outlined' : 'filled'"
          :color="dangerous ? 'danger' : 'primary'"
          @click="
            $emit('accept');
            $emit('close');
          "
          :label="acceptLabel"
          :icon="acceptIcon"
        />
        <custom-button
          :variant="preferReject ? 'filled' : 'outlined'"
          @click="
            $emit('reject');
            $emit('close');
          "
          v-if="!onlyAccept"
          :label="rejectLabel"
          :icon="rejectIcon"
        />
      </div>
    </div>
  </modal>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.confirm-action-modal {
  @include flex-flow(column);
  row-gap: 1rem;
  width: min(30rem, 100vw - 2rem);
  max-width: 100%;
  > h6 {
    margin: 0;
    padding-top: 0.5rem;
    padding-right: 2rem;
    white-space: pre-wrap;
  }
  > p {
    margin-bottom: 1rem;
  }
}

.confirm-action-modal-buttons {
  @include flex-flow(row);
  column-gap: 1rem;
  width: 100%;
  &.center {
    justify-content: center;
  }
}
</style>
