<script setup lang="ts">
import { ref } from "vue";
import CustomButton from "../buttons/CustomButton.vue";

const props = defineProps({
  open: Boolean,
  closesOnClickAway: Boolean,
});

const emit = defineEmits(["close"]);

const container = ref<HTMLDivElement | undefined>(undefined);

function handleBackgroundClick(event: MouseEvent) {
  if (!container.value || !props.closesOnClickAway) return;
  const rect = container.value.getBoundingClientRect();
  const hitsColumn = event.clientY > rect.top && event.clientY < rect.bottom;
  const hitsRow = event.clientX > rect.left && event.clientX < rect.right;
  if (!hitsColumn || !hitsRow) {
    emit("close");
  }
}
</script>

<template>
  <teleport to="body">
    <transition name="fade">
      <div class="modal-background" v-if="open" @click="handleBackgroundClick">
        <div class="modal-container" ref="container">
          <div class="modal-content">
            <slot />
          </div>
          <div class="modal-close-button-wrapper">
            <custom-button
              variant="icon"
              @click="$emit('close')"
              :icon="{ name: 'x' }"
            />
          </div>
        </div>
      </div>
    </transition>
  </teleport>
</template>

<style lang="scss" scoped>
@import "@/assets/styles/mixins.scss";
$base-color: #ffffff;

.modal-background {
  position: fixed;
  inset: 0 auto auto 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 1000;
  @include flex-flow(row);
  @include center;

  padding: 1rem;
}

.modal-container {
  position: relative;
  z-index: 1001;
  background-color: $base-color;
  border-radius: 8px;
  @include flex-flow(row);
  width: fit-content;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.1);
}

.modal-content {
  padding: 0.75rem;
  margin: 0.25rem;
  flex-grow: 1;
  max-width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

.modal-close-button-wrapper {
  position: absolute;
  inset: 1.25rem 1.25rem auto auto;
}
</style>
