<script setup lang="ts">
import { onBeforeUnmount, onMounted, ref, watch } from "vue";
import type { AriaOptions } from "@/types/AriaOptions";

type VerticalOption = "bottom" | "center" | "top";
type HorizontalOption = "left" | "center" | "right";

const props = defineProps({
  open: {
    type: Boolean,
    default: false,
  },
  anchor: {
    type: Object as () => HTMLElement | undefined,
    default: () => undefined,
  },
  closeOnClickAway: Boolean,
  verticalAnchor: {
    type: String as () => VerticalOption,
    default: () => "bottom",
  },
  horizontalAnchor: {
    type: String as () => HorizontalOption,
    default: () => "left",
  },
  verticalOrigin: {
    type: String as () => VerticalOption,
    default: () => "top",
  },
  horizontalOrigin: {
    type: String as () => HorizontalOption,
    default: () => "left",
  },
  offsetLeft: {
    type: Number,
    default: () => 0,
  },
  offsetTop: {
    type: Number,
    default: () => 0,
  },
  id: {
    type: String,
    default: "",
  },
  aria: {
    type: Object as () => AriaOptions,
    default: () => ({ role: "dialog" }),
  },
});

const wrapper = ref<HTMLElement>();

const topPosition = ref<number>();
const leftPosition = ref<number>();

function updatePosition() {
  const anchorRect = props.anchor?.getBoundingClientRect();
  const originRect = wrapper.value?.getBoundingClientRect();
  if (!anchorRect || !originRect) {
    topPosition.value = 0;
    leftPosition.value = 0;
    return;
  }
  let top: number;
  top = calcTopByAnchor(anchorRect, props.verticalAnchor);
  top = calcTopByOrigin(originRect, top, props.verticalOrigin);
  let left: number;
  left = calcLeftByAnchor(anchorRect, props.horizontalAnchor);
  left = calcLeftByOrigin(originRect, left, props.horizontalOrigin);
  topPosition.value = top + props.offsetTop;
  leftPosition.value = left + props.offsetLeft;
}

function calcLeftByAnchor(
  anchorRect: DOMRect,
  horizontalAnchorOption: HorizontalOption
) {
  let left: number;
  if (horizontalAnchorOption === "left") {
    left = anchorRect.left;
  } else if (horizontalAnchorOption === "center") {
    left = anchorRect.left + anchorRect.width / 2;
  } else {
    left = anchorRect.right;
  }
  return left;
}

function calcLeftByOrigin(
  originRect: DOMRect,
  currentLeft: number,
  horizontalOriginOption: HorizontalOption
) {
  let left: number;
  if (horizontalOriginOption === "left") {
    left = currentLeft;
  } else if (horizontalOriginOption === "center") {
    left = currentLeft - originRect.width / 2;
  } else {
    left = currentLeft - originRect.width;
  }
  return left;
}

function calcTopByAnchor(
  anchorRect: DOMRect,
  verticalAnchorOption: VerticalOption
) {
  let top: number;
  if (verticalAnchorOption === "top") {
    top = anchorRect.top;
  } else if (verticalAnchorOption === "center") {
    top = anchorRect.top + anchorRect.height / 2;
  } else {
    top = anchorRect.bottom;
  }
  return top + window.scrollY;
}

function calcTopByOrigin(
  originRect: DOMRect,
  currentTop: number,
  verticalOriginOption: VerticalOption
) {
  let top: number;
  if (verticalOriginOption === "top") {
    top = currentTop;
  } else if (verticalOriginOption === "center") {
    top = currentTop - originRect.height / 2;
  } else {
    top = currentTop - originRect.height;
  }
  return top;
}

const emit = defineEmits(["close"]);
const canClose = ref(false);

function closeIfClickedAway(event: MouseEvent) {
  if (canClose.value && props.open) {
    const target = event.target as HTMLElement;
    if (!wrapper.value?.contains(target)) {
      emit("close");
    }
  }
}

watch(
  () => props.open,
  () => {
    updatePosition();
    if (props.open) {
      canClose.value = false;
      window.addEventListener("click", closeIfClickedAway);
      setTimeout(() => {
        canClose.value = true;
      }, 100);
    } else {
      window.removeEventListener("click", closeIfClickedAway);
    }
  }
);

watch(
  () => props.anchor,
  () => updatePosition()
);

watch(wrapper, () => updatePosition());

onMounted(() => {
  window.addEventListener("resize", () => updatePosition());
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", () => updatePosition());
  window.removeEventListener("click", closeIfClickedAway);
});
</script>

<template>
  <div
    :id="id"
    ref="wrapper"
    class="popover"
    :class="{ hidden: !open }"
    :style="{ top: `${topPosition}px`, left: `${leftPosition}px` }"
    :role="aria.role"
    :aria-label="aria.label"
    :aria-orientation="aria.orientation"
    :aria-expanded="aria.expanded"
    :aria-controls="aria.controls"
    :aria-labelledby="aria.labelledBy"
    tabindex="-1"
  >
    <slot>Content</slot>
  </div>
</template>

<style scoped lang="scss">
.popover {
  position: absolute;

  width: fit-content;
  height: auto;
  opacity: 1;
  transition: opacity var(--animation-duration) var(--animation-function);

  @media (prefers-reduced-motion) {
    transition: none;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
</style>
