<script setup lang="ts">
import { defineProps, computed } from "vue";
import CustomButton from "../buttons/CustomButton.vue";
import { useToastStore } from "@/stores/ToastStore";

const props = defineProps({
  backgroundColor: String,
  color: String,
});

const styleObject = computed(() => {
  return {
    backgroundColor: props.backgroundColor,
    color: props.color,
  };
});

const toastStore = useToastStore();

function handleActionClick() {
  toastStore.toast?.actionCallback?.call(toastStore);
  toastStore.pickNextToast();
}
</script>

<template>
  <transition name="fade">
    <div class="toast-container" :style="styleObject" v-if="toastStore.toast">
      <span>{{ toastStore.toast.message }}</span>
      <custom-button
        variant="text"
        v-if="toastStore.toast.actionLabel"
        @click="handleActionClick"
        :label="toastStore.toast.actionLabel"
      />
    </div>
  </transition>
</template>

<style lang="scss" scoped>
@import "@/assets/styles/mixins.scss";

.toast-container {
  @include flex-flow(row);
  align-items: center;
  column-gap: 1rem;
  position: fixed;
  inset: auto auto 2rem auto;
  transform-origin: right top;
  z-index: 1000;
  margin: 0 1rem;
  padding: 1rem 1rem;
  max-width: calc(100vw - 2rem);
  width: fit-content;

  box-shadow: 0px 1px 4px rgba($color: #000000, $alpha: 0.1);
  border-radius: 4px;
  background-color: var(--gray800);
  color: white;
  > span {
    font-size: 1rem;
    font-weight: 500;
  }
}

.toast-action-label {
  color: var(--primary400);
  font-weight: 500;
  font-size: 1.1rem;
}
</style>
