<script setup lang="ts">
import type { Option } from "@/types";
import { v4 as uuidv4 } from "uuid";
import { ref, type Ref } from "vue";
import CustomButton from "../buttons/CustomButton.vue";
import LabelText from "./LabelText.vue";

const props = defineProps({
  modelValue: {
    type: Array as () => Option[],
    default: () => [],
  },
  label: String,
  fill: Boolean,
});
// TODO: Implement suggestions
const emit = defineEmits(["update:modelValue"]);

const input: Ref<HTMLInputElement | undefined> = ref(undefined);

const value = ref("");
const hasFocus = ref(false);

function addItem(name: string) {
  const trimmedName = name.trim();
  if (trimmedName.length) {
    const newItem = { key: uuidv4(), name: trimmedName };
    emit("update:modelValue", props.modelValue.concat(newItem));
  }
  value.value = "";
  input.value?.focus();
}

function handleBeforeInput(event: Event) {
  const inputEvent = event as InputEvent;
  const target = inputEvent.target as HTMLInputElement;
  if (
    inputEvent.inputType === "deleteContentBackward" &&
    target.value.length === 0
  ) {
    removeItem(props.modelValue.slice(-1).pop()?.key ?? "");
  }
}

function handleInput(event: Event) {
  const inputEvent = event as InputEvent;
  const target = inputEvent.target as HTMLInputElement;
  if (inputEvent.data === ",") {
    value.value = value.value.replace(",", "");
    addItem(value.value);
    value.value = "";
  } else {
    value.value = target.value;
  }
}

function removeItem(key: string) {
  emit(
    "update:modelValue",
    props.modelValue.filter((value) => value.key !== key)
  );
}
</script>

<template>
  <div class="chip-input-wrapper" :class="{ fill }">
    <label-text :label-for="label ?? ''" :label="label" :focus="hasFocus" />
    <div class="field" :class="{ hasFocus }">
      <div class="chip" v-for="item in modelValue" :key="item.key">
        <span>{{ item.name }}</span>
        <custom-button
          class="chip-button"
          variant="icon"
          @click="removeItem(item.key)"
          icon-name="x"
          :icon="{ name: 'x', size: 'tiny' }"
        />
      </div>
      <div class="input-wrapper">
        <input
          class="input"
          ref="input"
          type="text"
          :value="value"
          @keyup.enter="addItem(value)"
          @input="handleInput"
          @beforeinput="handleBeforeInput"
          @focus="hasFocus = true"
          @blur="hasFocus = false"
        />
      </div>
      <custom-button
        :icon="{ name: 'plus', color: '#60a5fa' }"
        icon-name="plus"
        variant="icon"
        @click="addItem(value)"
      />
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.chip-input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  &.fill {
    width: 100%;
  }
  &:hover > label {
    color: var(--primary400);
  }
}

.field {
  @include flex-flow(row, wrap);
  align-items: center;
  padding: 0.5rem;
  row-gap: 0.25rem;

  border: 1px solid var(--gray200);
  background-color: var(--gray50);
  border-radius: 0.3rem;
  transition: border-color 200ms ease-in-out;
  &.hasFocus,
  &:hover {
    border-color: var(--primary400);
  }
}

.chip {
  @include flex-flow(row);
  align-items: center;
  background-color: var(--gray100);
  border-radius: 16px;

  padding: 0.5rem 0.5rem;
  margin-right: 0.25rem;

  span {
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 0.25rem;
  }
}

.chip-button {
  @include flex-flow(row);
  @include center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  background-color: var(--gray400);
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
  &:hover {
    opacity: 0.85;
  }
  &:active {
    opacity: 0.8;
  }
}

.input-wrapper {
  flex-grow: 1;
  height: 2rem;
}
.input {
  outline: none;
  border: none;
  background-color: transparent;
  caret-color: var(--primary400);
  height: 100%;
  width: 100%;
  font-size: 1rem;
}
</style>
