<script setup lang="ts">
import type { Option } from "@/types";
import type { DefineComponent } from "vue";
import { reactive, ref } from "vue";
import Icon from "../decoration/Icon.vue";

const props = defineProps({
  items: {
    type: Array as () => Option[],
    required: true,
  },
  itemComponent: {
    type: Object as () => DefineComponent<
      any,
      any,
      any,
      any,
      any,
      any,
      any,
      any
    >,
  },
});

const emit = defineEmits(["change"]);

const startLocation = ref(0);
const dragging = ref(false);
const dragFrom = reactive<{ item: Option | null }>({ item: null });
const over = reactive<{
  item: Option | undefined;
  index: number | undefined;
  direction: "up" | "down" | undefined;
}>({ item: undefined, index: undefined, direction: undefined });

function startDrag(event: DragEvent, item: Option) {
  if (event.dataTransfer) {
    event.dataTransfer.dropEffect = "move";
    event.dataTransfer.effectAllowed = "move";
    startLocation.value = event.clientY;
    dragging.value = true;
    dragFrom.item = item;
  }
}

function onDragOver(event: DragEvent, index: number, item: Option) {
  event.preventDefault();
  if (event.dataTransfer) {
    const direction = startLocation.value < event.clientY ? "down" : "up";
    setTimeout(() => {
      over.item = item;
      over.index = index;
      over.direction = direction;
    }, 50);
  }
}

function onDragEnd(item: Option, index: number) {
  if (over.index !== undefined) {
    let copyList = props.items.filter((value) => value.key !== item.key);
    copyList = [
      ...copyList.slice(0, over.index),
      item,
      ...copyList.slice(over.index),
    ];
    over.index = undefined;
    over.item = undefined;
    over.direction = undefined;
    setTimeout(() => {
      over.item = undefined;
      over.index = undefined;
      over.direction = undefined;
    }, 50);
    emit("change", copyList);
  }
}
</script>

<template>
  <div class="drag-drop-list-wrapper">
    <!-- Drop zone is separate from wrapper in case dragging between two lists will be implemented -->
    <!-- Between lists: https://learnvue.co/2020/01/how-to-add-drag-and-drop-to-your-vuejs-project/#adding-drag-and-drop-functionality -->
    <!-- See for usage: https://staging.vuejs.org/guide/components/slots.html#fancy-list-example -->
    <div class="drop-zone" @dragover.prevent @dragenter.prevent>
      <transition-group name="flip-list" tag="div">
        <div
          v-for="(item, index) in items"
          :key="item.key"
          class="drag-item"
          :class="{
            over:
              item.key === over.item?.key && item.key !== dragFrom.item?.key,
            [over.direction ?? '']:
              item.key === over.item?.key && item.key !== dragFrom.item?.key,
          }"
          draggable="true"
          @dragstart="startDrag($event, item)"
          @dragover="onDragOver($event, index, item)"
          @dragend="onDragEnd(item, index)"
        >
          <component :is="itemComponent" :item="item"></component>
          <div class="dragitem-end-wrapper">
            <div class="divider"></div>
            <div class="handle"><icon name="list" small /></div>
          </div>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
$height: 0.825rem;
$dividerColor: var(--gray100);
$handleColor: var(--gray400);

.drag-drop-list-wrapper {
  width: 100%;
  height: 100%;
}
.drop-zone {
  overflow-y: auto;
  max-height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

.drag-item {
  @include flex-flow(row);
  justify-content: space-between;

  .item-content {
    @include flex-flow(column);
    @include center();
  }

  .dragitem-end-wrapper {
    @include flex-flow(row);
    .divider {
      height: 100%;
      border: 1px dashed $dividerColor;
    }
    .handle {
      @include flex-flow(row);
      @include center();
      height: max(100%, 1.5rem);
      width: 1.5rem;
      padding: 0 2rem;

      text-align: center;
      color: $handleColor;
      cursor: grab;
      span {
        font-size: 1.5rem;
      }
    }
  }
}

.over {
  opacity: 0.5;
}

.down {
  transform: translateY(-0.2rem);
}

.up {
  transform: translateY(0.2rem);
}
</style>
