<script setup lang="ts">
defineProps<{
  labelFor: string;
  id?: string;
  label?: string;
  focus?: boolean;
  disabled?: boolean;
  required?: boolean;
}>();
</script>

<template>
  <label
    :id="id"
    :for="labelFor"
    class="label-text"
    :class="{ focus, disabled }"
    v-if="label"
  >
    <span>{{ label }}</span>
    <transition name="fade">
      <span v-if="required"> *</span>
    </transition>
  </label>
</template>

<style scoped lang="scss">
.label-text {
  margin-bottom: 0.25rem;
  font-weight: 500;
  transition: color 150ms ease-in-out;
  &.focus {
    color: var(--primary400);
  }
  &.disabled {
    color: var(--gray200);
  }
}
</style>
