<script setup lang="ts">
import { v4 as uuidv4 } from "uuid";
import { ref } from "vue";
import LabelText from "./LabelText.vue";

const id = uuidv4();
// TODO: Implement required and disabled
// TODO: Add props for textarea rows
defineProps({
  modelValue: {
    type: [String],
  },
  label: {
    type: String,
    default: "",
  },
  placeholder: String,
  fill: Boolean,
});

const focus = ref(false);

const emit = defineEmits(["update:modelValue"]);

function handleChange(event: Event) {
  event.preventDefault();
  const target = event.target as HTMLInputElement;
  emit("update:modelValue", target.value);
}
</script>

<template>
  <div class="text-area" :class="{ fill }">
    <label-text :label="label" :label-for="id" :focus="focus" />
    <textarea
      :id="id"
      :name="label"
      :placeholder="placeholder"
      :value="modelValue"
      @change="handleChange"
      @focus="focus = true"
      @blur="focus = false"
    ></textarea>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.text-area {
  @include flex-flow(column);
  width: fit-content;
  &.fill {
    width: 100%;
  }
  &:hover > label {
    color: var(--primary400);
  }
}

textarea {
  display: block;

  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--gray200);
  outline: none;

  background-color: var(--gray50);
  caret-color: var(--primary400);
  transition: border-color 150ms ease-in-out;

  font-size: 1rem;
  &:focus,
  &:hover {
    border: 1px solid var(--primary400);
  }
}
</style>
