<script setup lang="ts">
defineProps({
  colGap: {
    type: String as () => "sm" | "md" | "lg",
    default: () => "md",
  },
});
</script>

<template>
  <div class="flex-row" :class="{ [`gap-${colGap}`]: true }">
    <slot />
  </div>
</template>

<style scoped lang="scss">
.flex-row {
  display: flex;
  flex-flow: row nowrap;

  &.gap-sm {
    column-gap: 0.75rem;
  }
  &.gap-md {
    column-gap: 1rem;
  }
}
</style>
