<script setup lang="ts">
defineProps({
  rowGap: {
    type: String as () => "sm" | "md" | "lg",
    default: () => "md",
  },
});
</script>

<template>
  <div class="flex-col" :class="{ [`gap-${rowGap}`]: true }">
    <slot />
  </div>
</template>

<style scoped lang="scss">
.flex-col {
  display: flex;
  flex-flow: column nowrap;

  &.gap-sm {
    row-gap: 0.75rem;
  }
  &.gap-md {
    row-gap: 1rem;
  }
}
</style>
