<script setup lang="ts">
import CustomButton from "@/components/buttons/CustomButton.vue";
import VerticalContainer from "@/components/containers/VerticalContainer.vue";
import HorizontalContainer from "@/components/containers/HorizontalContainer.vue";
</script>

<template>
  <div>
    <h2 id="buttons">Buttons</h2>
    <vertical-container>
      <h3 class="label">Filled</h3>
      <horizontal-container>
        <custom-button label="Primary" />
        <custom-button label="Accent" color="accent" />
        <custom-button label="Danger" color="danger" />
      </horizontal-container>
      <h3 class="label">Outlined</h3>
      <horizontal-container>
        <custom-button label="Primary" variant="outlined" />
        <custom-button label="Accent" variant="outlined" color="accent" />
        <custom-button label="Danger" variant="outlined" color="danger" />
      </horizontal-container>
      <h3 class="label">Text</h3>
      <horizontal-container>
        <custom-button label="Primary" variant="text" />
        <custom-button label="Accent" variant="text" color="accent" />
        <custom-button label="Danger" variant="text" color="danger" />
      </horizontal-container>
      <h3 class="label">Icon</h3>
      <custom-button
        :icon="{ name: 'plus' }"
        variant="icon"
        title="Icon button"
      />
      <h3 class="label">Loading</h3>
      <custom-button label="Saving" :icon="{ name: 'save' }" loading />
      <h3 class="label">Circle</h3>
      <custom-button :icon="{ name: 'plus' }" shape="circle" />
    </vertical-container>
  </div>
</template>

<style scoped lang="scss">
.label {
  font-size: var(--font-size-md);
  margin: 0;
}

h2 {
  font-size: var(--font-size-xl);
}
</style>
