<script setup lang="ts">
import VerticalContainer from "@/components/containers/VerticalContainer.vue";
import CustomDetails from "@/components/feedback/CustomDetails.vue";
import ErrorMessage from "@/components/feedback/ErrorMessage.vue";
import HelpSection from "@/components/feedback/HelpSection.vue";
import HelpText from "@/components/feedback/HelpText.vue";
import InfoTip from "@/components/feedback/InfoTip.vue";
import ProgressSpinner from "@/components/feedback/ProgressSpinner.vue";
</script>

<template>
  <div>
    <h2 id="feedback">Feedback components</h2>
    <vertical-container>
      <!-- <h3 class="label">Custom details (unfinished)</h3>
      <custom-details summary-text="Click to see more">
        <span>More</span>
      </custom-details> -->
      <h3 class="label">Error message</h3>
      <error-message message="This is an error" />
      <h3 class="label">Help section</h3>
      <help-section
        :instructions="[
          { message: 'Instruction one' },
          {
            message: 'Instruction two',
            link: { href: '#feedback', label: 'Link' },
          },
        ]"
      />
      <h3 class="label">Help text</h3>
      <help-text message="This is some helpful text" />
      <h3 class="label">Info tip</h3>
      <p>TODO: Fix tooltip and use here</p>
      <!-- <info-tip message="This is a useful tip or an explanation" /> -->
      <h3 class="label">Progress spinner</h3>
      <p>TODO: Also make a progress bar. Indeterminate and determinate</p>
      <progress-spinner color="#3b82f6" />
    </vertical-container>
  </div>
</template>

<style scoped lang="scss"></style>
