<script setup lang="ts">
import type { Option } from "@/types";
import dayjs from "dayjs";
import { ref } from "vue";
import VerticalContainer from "@/components/containers/VerticalContainer.vue";
import ChipInput from "@/components/inputs/ChipInput.vue";
import DatePicker from "@/components/inputs/datetime/DatePicker.vue";
import DateTimePicker from "@/components/inputs/datetime/DateTimePicker.vue";
import TimePicker from "@/components/inputs/datetime/TimePicker.vue";
import WeekdaysPicker from "@/components/inputs/datetime/WeekdaysPicker.vue";
import FileUploader from "@/components/inputs/FileUploader.vue";
import InputField from "@/components/inputs/InputField.vue";
import CheckBoxList from "@/components/inputs/options/CheckBoxList.vue";
import CustomSelect from "@/components/inputs/options/CustomSelect.vue";
import RadioList from "@/components/inputs/options/RadioList.vue";
import TextArea from "@/components/inputs/TextArea.vue";
// TODO: Make index.ts for inputs/options and inputs/datetime
const textValue = ref("");
const numberValue = ref(0);
const timeValue = ref({ hour: 13, minute: 0 });
const dateValue = ref(dayjs());
const optionsValue = ref<Option[]>([]);
const options: Option[] = [
  { key: "1", name: "Option 1" },
  { key: "2", name: "Option 2" },
  { key: "3", name: "Option 3" },
];
const selectedOption = ref<Option>();
const tags = ref<Option[]>();
const file = ref<(File | null)[]>();
const weekdays = ref<number[]>([0, 1, 2, 3, 4]);
</script>

<template>
  <div>
    <h2 id="inputs">Inputs</h2>
    <vertical-container>
      <h3>Text and numbers</h3>
      <input-field label="Outlined" variant="outlined" v-model="textValue" />
      <input-field
        label="Underlined"
        variant="underlined"
        v-model="textValue"
      />
      <input-field label="Compact" compact v-model="textValue" />
      <text-area label="Text area" />
      <input-field
        label="Number"
        type="number"
        :step="5"
        v-model="numberValue"
      />
      <input-field
        label="Suggestions"
        v-model="textValue"
        :suggestions="[
          { key: 'Alice', name: 'Alice' },
          { key: 'Bob', name: 'Bob' },
        ]"
      />
      <!-- TODO: Slider on number range-->
      <h3>Time and date</h3>
      <time-picker v-model="timeValue" label="Timepicker" />
      <date-picker v-model="dateValue" label="Datepicker" />
      <date-time-picker v-model="dateValue" label="Datetime picker" />
      <weekdays-picker v-model="weekdays" label="Weekday picker" />
      <h3>Choices</h3>
      <check-box-list
        v-model="optionsValue"
        :options="options"
        label="Checkboxes"
      />
      <radio-list
        v-model="selectedOption"
        :options="options"
        label="Radio buttons"
      />
      <custom-select
        v-model="selectedOption"
        :options="options"
        label="Select"
        prompt="Prompt"
      />
      <chip-input v-model="tags" label="Chip input" />
      <!-- TODO: Switch toggle -->
      <h3>Files</h3>
      <file-uploader v-model="file" label="File uploader" />
    </vertical-container>
  </div>
</template>

<style scoped lang="scss">
h3 {
  margin-bottom: 0;
}
</style>
