<script setup lang="ts">
import { ref } from "vue";
import Modal from "@/components/modals/Modal.vue";
import CustomButton from "@/components/buttons/CustomButton.vue";
import VerticalContainer from "@/components/containers/VerticalContainer.vue";
import ConfirmActionModal from "@/components/modals/ConfirmActionModal.vue";
import Popover from "@/components/modals/Popover.vue";
import PopoverMenu from "@/components/buttons/PopoverMenu.vue";
import { useToastStore } from "@/stores/ToastStore";
import InputField from "@/components/inputs/InputField.vue";

const baseModalOpen = ref(false);
const confirmationModalOpen = ref(false);
const popoverOpen = ref(false);
const popoverAnchor = ref<HTMLElement>();
const popoverMenuOpen = ref(false);

function dummyCallback() {}

const toastMessage = ref("");
const toastStore = useToastStore();

function triggerToast() {
  toastStore.showToast({
    message: toastMessage.value || "Hi there!",
    actionLabel: "Close",
  });
}
</script>

<template>
  <div>
    <h2 id="modals">Modals</h2>
    <VerticalContainer>
      <h3 class="label">Base modal</h3>
      <p>
        TODO: Improve modal. It should use the native
        <strong>dialog</strong> tag
      </p>
      <CustomButton label="Open base modal" @click="baseModalOpen = true" />
      <Modal
        :open="baseModalOpen"
        @close="baseModalOpen = false"
        closesOnClickAway
      >
        <div
          :style="{
            border: '1px solid red',
            height: '50vh',
            width: '50vw',
          }"
        >
          <span>This is the base modal.<br />You can put anything in here</span>
        </div>
      </Modal>
      <h3 class="label">Confirmation modal</h3>
      <CustomButton
        label="Open confirmation modal"
        @click="confirmationModalOpen = true"
      />
      <ConfirmActionModal
        :open="confirmationModalOpen"
        @close="confirmationModalOpen = false"
        label="Do you want to perform this dangerous action?"
        explanation="In this modal, you can pass the label, explanation, accept label and reject label as props. You may also specify which choice is preferred, if it is only possible to accept, or that the action is dangerous, such as in this example"
        dangerous
        preferReject
        acceptLabel="Yes, do as I say"
        :acceptIcon="{ name: 'check' }"
        rejectLabel="I changed my mind"
        :rejectIcon="{ name: 'x' }"
      />
      <h3 class="label">Popover</h3>
      <p>
        TODO: Improve popover. It should use absolute position and avoid being
        placed outside the screen
      </p>
      <div ref="popoverAnchor">
        <CustomButton label="Open popover" @click="popoverOpen = true" />
      </div>
      <Popover
        :open="popoverOpen"
        @close="popoverOpen = false"
        :anchor="popoverAnchor"
      >
        <div
          :style="{
            border: '1px solid red',
          }"
        >
          <span>
            This is a popover. It displays anything inside and closes on click
            away
          </span>
        </div>
      </Popover>
      <h3 class="label">Popover menu</h3>
      <p>
        The popover menu lets you specify menu options with the
        <em>options</em> prop, with labels, callbacks, icons, and titles
      </p>
      <div>
        <CustomButton
          label="Open popover menu"
          @click="popoverMenuOpen = !popoverMenuOpen"
        />
        <PopoverMenu
          :open="popoverMenuOpen"
          @close="popoverMenuOpen = false"
          :options="[
            { label: 'Menu option', callback: dummyCallback },
            {
              label: 'Menu option with icon',
              callback: dummyCallback,
              icon: { name: 'user' },
            },
            {
              label: 'Menu option with title (tooltip on hover)',
              callback: dummyCallback,
              title: 'This shows up when you hover',
            },
          ]"
          :doHorizontalParentWidth="false"
          horizontal="right"
          hideButton
        />
      </div>
      <h3 class="label">Toast</h3>
      <p>TODO: Improve color contrast of action button</p>
      <p>
        The toast component gives feedback after some process has finished, such
        as saving data the user has entered. If several toasts trigger within a
        short timespan, they are placed in a queue and displayed one by one.
        Toasts may present a possible action to the user.<br /><br />An instance
        of the toast component must be placed somewhere in the root of the
        component hierarchy.
      </p>
      <CustomButton label="Trigger toast" @click="triggerToast" />
      <InputField
        label="Toast message"
        v-model="toastMessage"
        variant="underlined"
      />
    </VerticalContainer>
  </div>
</template>

<style scoped lang="scss">
.label {
  font-size: var(--font-size-md);
  margin: 0;
}
</style>
