<script setup lang="ts">
import type { IconOption } from "@/types";
import { ref } from "vue";
import type { RouteLocationRaw } from "vue-router";
import Icon from "../decoration/Icon.vue";
import ProgressSpinner from "../feedback/ProgressSpinner.vue";

const props = defineProps({
  color: {
    type: String as () => "primary" | "accent" | "danger",
    default: "primary",
  },
  disabled: Boolean,
  link: Object as () => RouteLocationRaw,
  label: String,
  icon: Object as () => IconOption,
  href: String,
  variant: {
    type: String as () => "filled" | "outlined" | "text" | "icon",
    default: () => "filled",
  },
  shape: {
    type: String as () => "rectangle" | "circle",
    default: () => "rectangle",
  },
  compact: Boolean,
  fill: Boolean,
  loading: Boolean,
  buttonClass: {
    type: String,
    default: () => "",
  },
  contentClass: {
    type: String,
    default: () => "",
  },
});

const emit = defineEmits(["click"]);
const localLoading = ref(false);

function handleClick() {
  if (!props.disabled) {
    emit("click");
    if (props.link) {
      localLoading.value = true;
    }
  }
}
</script>

<template>
  <div class="custom-button-wrapper">
    <router-link
      class="button-link custom-button"
      v-if="link"
      :to="link"
      @click="handleClick"
      :class="{
        [variant]: variant,
        [shape]: shape,
        [color]: color,
        [buttonClass]: buttonClass,
        compact,
        fill,
      }"
      :disabled="disabled || loading"
    >
      <div
        class="custom-button-content"
        :class="{ [contentClass]: contentClass }"
      >
        <icon
          v-if="icon?.name"
          :name="icon.name"
          :size="icon.size"
          :color="icon.color"
        />
        <span v-if="variant !== 'icon' && label">{{ label }}</span>
      </div>
      <div class="custom-button-spinner" :class="{ hidden: !localLoading }">
        <progress-spinner />
      </div>
    </router-link>
    <button
      v-else
      @click="handleClick"
      :class="{
        [variant]: variant,
        [shape]: shape,
        [color]: color,
        [buttonClass]: buttonClass,
        compact,
        fill,
      }"
      :disabled="disabled || loading"
      class="custom-button"
    >
      <div
        class="custom-button-content"
        :class="{ [contentClass]: contentClass }"
      >
        <icon
          v-if="icon?.name"
          :name="icon.name"
          :size="icon.size"
          :color="icon.color"
        />
        <span v-if="variant !== 'icon' && label">{{ label }}</span>
      </div>
      <div class="custom-button-spinner" :class="{ hidden: !loading }">
        <progress-spinner />
      </div>
    </button>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/styles/mixins.scss";

.custom-button {
  border: none;
  outline: none;
  @include flex-flow(row);
  @include center;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  transition-property: color background-color border-color opacity;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
  cursor: pointer;

  &.fill {
    width: 100%;
  }

  &.filled,
  &.outlined {
    height: 3rem;
    border-radius: 6px;
    padding: 0 1rem;
    &.compact {
      //height: fit-content;
      width: fit-content;
    }
    &.circle {
      @include flex-flow(row);
      @include center;
      height: 5rem;
      width: 5rem;
      border-radius: 100%;
      border-width: 2px;
      @include mobile {
        height: 3rem;
        width: 3rem;
      }
    }
  }
  &.filled {
    --text-color: white;
    --text-hover: white;
    --text-active: white;
    --bg-color: var(--primary600);
    --bg-hover: var(--primary500);
    --bg-active: var(--primary400);
    font-weight: 500;
    &.danger {
      --bg-color: var(--error900);
      --bg-hover: var(--error800);
      --bg-active: var(--error700);
    }
    &.accent {
      --bg-color: var(--accent600);
      --bg-hover: var(--accent500);
      --bg-active: var(--accent400);
    }
  }

  &.outlined {
    --text-color: var(--primary600);
    --text-hover: var(--primary500);
    --text-active: var(--primary400);
    --border-color: var(--primary600);
    --border-hover: var(--primary500);
    --border-active: var(--primary400);
    --bg-color: white;
    border-width: 1px;
    border-style: solid;

    &.danger {
      --border-color: var(--error900);
      --border-hover: var(--error800);
      --border-active: var(--error700);
      --text-color: var(--error900);
      --text-hover: var(--error800);
      --text-active: var(--error700);
    }
    &.accent {
      --border-color: var(--accent600);
      --border-hover: var(--accent500);
      --border-active: var(--accent400);
      --text-color: var(--accent600);
      --text-hover: var(--accent500);
      --text-active: var(--accent400);
    }
  }

  &.icon {
    --text-hover: var(--gray500);
    --text-active: var(--gray400);
    --bg-color: transparent;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    padding: 0;
    &.compact {
      width: fit-content;
      height: fit-content;
    }
    &.fill {
      width: 100%;
      height: 100%;
    }
  }

  &.text {
    --text-color: var(--primary600);
    --text-hover: var(--primary500);
    --text-active: var(--primary400);
    --bg-color: transparent;
    padding: 0;

    &.compact {
      width: fit-content;
      height: fit-content;
    }

    &.accent {
      --text-color: var(--accent600);
      --text-hover: var(--accent500);
      --text-active: var(--accent400);
    }
    &.danger {
      --text-color: var(--error900);
      --text-hover: var(--error800);
      --text-active: var(--error700);
    }
  }

  &:hover,
  &:focus {
    &.filled {
      --bg-color: var(--bg-hover);
    }
    &.icon,
    &.text,
    &.outlined {
      --text-color: var(--text-hover);
    }
    &.outlined {
      --border-color: var(--border-hover);
    }
  }
  &:active {
    &.filled {
      --bg-color: var(--bg-active);
    }
    &.icon,
    &.text,
    &.outlined {
      --text-color: var(--text-active);
    }
    &.outlined {
      --border-color: var(--border-active);
    }
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.button-link {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.custom-button-content {
  @include flex-flow(row);
  @include center;
  column-gap: 0.5rem;
}

.custom-button-spinner {
  opacity: 1;
  width: 1.1rem;
  height: 1.1rem;
  color: var(--text-color);
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-property: width opacity margin;
  margin-left: 0.75rem;
  &.hidden {
    opacity: 0;
    width: 0;
    margin: 0;
  }
}
</style>
