<script setup lang="ts">
import CustomButton from "@/components/buttons/CustomButton.vue";
import { ref } from "vue";
import type { IconOption } from "@/types";

export interface FabOption {
  label: string;
  callback: () => void;
  icon: IconOption;
  title?: string;
}

const props = defineProps({
  options: {
    type: Array as () => FabOption[],
  },
  callback: Function as unknown as () => () => void,
  icon: Object as () => IconOption,
  alternateIcon: Object as () => IconOption,
  title: String,
});

const optionsOpen = ref(false);

function handleMainButtonClick() {
  if (props.options?.length) {
    optionsOpen.value = !optionsOpen.value;
  } else if (props.callback) {
    props.callback();
  }
}

function handleOptionClick(callback: () => void) {
  callback();
  optionsOpen.value = false;
}
</script>

<template>
  <teleport to="body">
    <div class="floating-action-button">
      <transition-group name="fade">
        <div
          v-for="option in options"
          :key="option.label"
          v-show="optionsOpen"
          class="fab-option"
        >
          <label>{{ option.label }}</label>
          <custom-button
            shape="circle"
            variant="outlined"
            @click="handleOptionClick(option.callback)"
            :icon="option.icon"
          />
        </div>
        <custom-button
          shape="circle"
          class="main-button"
          :class="{ open: optionsOpen }"
          key="main"
          @click="handleMainButtonClick"
          :icon="icon ?? { name: 'plus' }"
          :title="title"
        />
      </transition-group>
    </div>
    <transition name="fade">
      <div
        v-if="optionsOpen"
        class="options"
        @click="optionsOpen = false"
      ></div>
    </transition>
  </teleport>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.floating-action-button {
  @include flex-flow(column);
  align-items: flex-end;
  row-gap: 1rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 101;
}

.main-button {
  transition: transform 150ms ease-in-out;
  border-radius: 100%;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
  &.open {
    transform: rotateZ(135deg);
    box-shadow: none;
  }
}

.options {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.fab-option {
  @include flex-flow(row);
  align-items: center;
  column-gap: 0.5rem;
  label {
    color: white;
    background-color: var(--gray600);
    border-radius: 4px;
    padding: 0.125rem 0.25rem;
    height: fit-content;
  }
}
</style>
