<script setup lang="ts">
import Icon from "@/components/decoration/Icon.vue";
import Popover from "@/components/modals/Popover.vue";
import type { IconOption } from "@/types";
import { ref } from "vue";
import CustomButton from "./CustomButton.vue";

export interface MenuOption {
  label: string;
  callback: () => void;
  icon?: IconOption;
  title?: string;
}

const props = defineProps({
  options: {
    type: Array as () => MenuOption[],
    required: true,
  },
  buttonIconName: {
    type: String,
    default: () => "more-vertical",
  },
  open: Boolean,
  hideButton: Boolean,
  vertical: {
    type: String as () => "bottom" | "center" | "top",
    default: () => "bottom",
  },
  horizontal: {
    type: String as () => "left" | "center" | "right",
    default: () => "left",
  },
  doHorizontalParentWidth: {
    type: Boolean,
    default: () => true,
  },
});

const localOpen = ref(false);
const popoverAnchor = ref<HTMLElement>();

const emit = defineEmits(["close"]);

function close() {
  if (props.hideButton) {
    emit("close");
  } else {
    localOpen.value = false;
  }
}
</script>

<template>
  <div class="popover-menu" ref="popoverAnchor">
    <CustomButton
      variant="icon"
      @click="localOpen = !localOpen"
      v-if="!hideButton"
      :icon="{ name: buttonIconName }"
    />
    <Popover
      :open="localOpen || open"
      @close="close"
      closeOnClickAway
      :anchor="popoverAnchor"
    >
      <div class="popover-menu-options">
        <button
          class="popover-menu-option"
          v-for="option in options"
          :key="option.label"
          @click="
            close();
            option.callback();
          "
          :title="option.title"
        >
          <Icon
            v-if="option.icon"
            :name="option.icon.name"
            :color="option.icon.color ?? '#475569'"
            :size="option.icon.size"
          /><span>{{ option.label }}</span>
        </button>
      </div>
    </Popover>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

$optionHeight: 3rem;

.popover-menu-options {
  border: 1px solid var(--gray200);
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.3);
  max-width: calc(100vw - 2rem);
  background-color: var(--gray50);
}

.popover-menu-option {
  @include flex-flow(row);
  align-items: center;
  column-gap: 1rem;
  padding: 0 0.5rem;
  background-color: transparent;
  transition: background-color 150ms ease-in-out;
  height: $optionHeight;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
  &:hover,
  &:focus {
    background-color: var(--primary100);
  }
  &:active {
    background-color: var(--primary200);
  }
}
</style>
