<script setup lang="ts">
import type { Option } from "@/types/Option";
import { ref } from "vue";
import Icon from "../decoration/Icon.vue";
import Popover from "../modals/Popover.vue";

const props = defineProps({
  options: {
    type: Array as () => Option[],
    required: true,
  },
  chosenOption: {
    type: Object as () => Option,
    required: true,
  },
});

const open = ref(false);

const emit = defineEmits(["change"]);

function handleClick(option: Option) {
  open.value = false;
  if (option.key !== props.chosenOption.key) {
    emit("change", option);
  }
}
</script>

<template>
  <div class="sort-menu-wrapper">
    <button class="sort-menu-button" @click="open = !open">
      <span class="sort-by-text">Sorter etter:</span>
      <span>{{ chosenOption.name }}</span>
      <icon name="arrow-down" />
    </button>
    <transition name="fade">
      <popover :open="open" @close="open = false">
        <div class="sort-menu-options">
          <button
            class="sort-menu-option"
            :class="{ active: option.key === chosenOption.key }"
            v-for="option in options"
            :key="option.key"
            @click="handleClick(option)"
          >
            <span>{{ option.name }}</span>
          </button>
        </div>
      </popover>
    </transition>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

$height: 3rem;
.sort-menu-wrapper {
  @include flex-flow(column);
  width: 100%;
  justify-content: flex-start;
  position: relative;
  button {
    border: none;
    cursor: pointer;
    font-weight: 400;
  }
}

.sort-menu-button {
  @include flex-flow(row);
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  height: $height;
  width: fit-content;
  padding: 0;
  background-color: transparent;
}

.sort-by-text {
  color: var(--gray600);
}

.sort-menu-options {
  @include flex-flow(column);
  position: absolute;
  border-radius: 4px;
  border: 1px solid var(--gray200);
}

.sort-menu-option {
  @include flex-flow(row);
  align-items: center;
  height: $height;
  width: 21rem;
  padding: 0 0.5rem;
  background-color: var(--gray50);
  &:hover,
  &.active {
    background-color: var(--primary100);
  }
  &:first-child {
    border-radius: 4px 4px 0 0;
  }
  &:last-child {
    border-radius: 0 0 4px 4px;
  }
}
</style>
