<template>
  <div class="chip">
    <span>
      <slot />
    </span>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.chip {
  @include flex-flow(row);
  align-items: center;
  background-color: var(--gray100);
  border-radius: 16px;

  padding: 0.125rem 0.5rem;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}
</style>
