<script setup lang="ts">
import { setLightness, setSaturation } from "@/utils/colorUtils";
import { hashStringToColor } from "@/utils/hashUtils";
import { computed } from "vue";

const props = defineProps({
  label: {
    type: String,
    required: true,
  },
  title: String,
});

const backgroundColor = computed(() => {
  const color = hashStringToColor(props.label);
  return setLightness(setSaturation(color, 0.5), 0.85);
});
</script>

<template>
  <div
    class="distinctly-colored-chip"
    :style="{ backgroundColor }"
    :title="title"
  >
    <span>{{ label }}</span>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.distinctly-colored-chip {
  @include flex-flow(row);
  @include center;
  border-radius: 1rem;
  padding: 0.125rem;
  width: fit-content;
  max-width: 100%;

  > span {
    font-size: var(--font-size-sm);
    font-weight: 400;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
