<script setup lang="ts"></script>

<template>
  <div class="horizontal-separator"></div>
</template>

<style scoped lang="scss">
.horizontal-separator {
  width: 100%;
  border-top: 0.5px solid var(--gray200);
}
</style>
