<script setup lang="ts">
import feather from "feather-icons";
import { computed } from "vue";

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  color: String,
  size: {
    type: String as () => "tiny" | "small" | "normal" | "large",
    default: "normal",
  },
});

const sizePx = computed(() => {
  if (props.size === "large") return 32;
  if (props.size === "small") return 16;
  if (props.size === "tiny") return 12;
  return 24;
});

function getPath(name: string) {
  const path = feather.icons[name];
  path.attrs["width"] = sizePx.value;
  path.attrs["height"] = sizePx.value;
  return path.toSvg();
}
</script>

<template>
  <div class="icon" :class="{ [size]: size }">
    <div v-html="getPath(name)" :style="{ color }"></div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

$tiny: 0.75rem;
$small: 1rem;
$normal: 1.5rem;
$large: 2rem;
.icon {
  @include flex-flow(row);
  @include center;
  width: $normal;
  height: $normal;

  div {
    @include flex-flow(row);
    @include center;
    width: $normal;
    height: $normal;
  }

  &.tiny {
    width: $tiny;
    height: $tiny;
    div {
      width: $tiny;
      height: $tiny;
    }
  }
  &.small {
    width: $small;
    height: $small;
    div {
      width: $small;
      height: $small;
    }
  }
  &.large {
    width: $large;
    height: $large;
    div {
      width: $large;
      height: $large;
    }
  }
}
</style>
