<script setup lang="ts"></script>

<template>
  <span class="subtitle"><slot /></span>
</template>

<style scoped lang="scss">
.subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray600);
  width: 100%;
}
</style>
