<script setup lang="ts">
import LabelText from "@/components/inputs/LabelText.vue";
import CheckBox from "@/components/inputs/options/CheckBox.vue";
import type { Option } from "@/types";
import { v4 as uuidv4 } from "uuid";

// TODO: Implement disabled and required
const props = defineProps({
  modelValue: {
    type: Array as () => Array<Option>,
    required: true,
  },
  prompt: {
    type: String,
    default: "Select",
  },
  options: {
    type: Array as () => Array<Option>,
    required: true,
  },
  label: String,
  id: {
    type: String,
    default: () => uuidv4(),
  },
});

const emit = defineEmits(["change", "update:modelValue"]);

function handleOptionClick(option: Option) {
  let options = props.modelValue.map((value) => value);
  if (options.find((value) => value.key === option.key)) {
    options = options.filter((value) => value.key !== option.key);
  } else {
    options.push(option);
  }
  emit("update:modelValue", options);
}
// TODO: Track focus and pass to label-text
// Add disabled prop
</script>

<template>
  <div class="checkbox-list">
    <label-text :label="label" :label-for="id" />
    <check-box
      v-for="option in options"
      :id="option.key"
      :key="option.key"
      :label="option.name"
      @update:model-value="handleOptionClick(option)"
      :model-value="
        modelValue.find((value) => value.key === option.key) !== undefined
      "
    />
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.checkbox-list {
  @include flex-flow(column);
  row-gap: 0.5rem;
  width: fit-content;
  &:hover > label {
    color: var(--primary400);
    &.disabled {
      color: var(--gray200);
    }
  }
}
</style>
