<script setup lang="ts">
import Icon from "@/components/decoration/Icon.vue";
import { v4 as uuidv4 } from "uuid";

const privateId = uuidv4();
const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
  },
  label: {
    type: String,
    default: "Label",
  },
  id: String,
  disabled: Boolean,
});

const emit = defineEmits<{
  (event: "update:modelValue", value: boolean): void;
}>();

function handleClick() {
  if (props.disabled) return;
  emit("update:modelValue", !props.modelValue);
}
</script>

<template>
  <div
    class="checkbox-wrapper"
    @click="handleClick"
    :class="{ selected: modelValue, disabled }"
  >
    <input
      class="input"
      type="checkbox"
      :id="id ?? privateId"
      :checked="modelValue"
      @keyup.enter="handleClick"
    />
    <div class="checkbox">
      <transition name="fade">
        <icon
          name="check"
          color="#ffffff"
          class="check-icon"
          size="small"
          v-if="modelValue"
        />
      </transition>
    </div>
    <label :for="id ?? privateId" class="label">{{ label }}</label>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

$size: 1rem;

.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  height: $size;
  width: $size;
  margin: 0;

  &:focus {
    + .checkbox {
      border-color: var(--primary400);
    }
  }
}
.checkbox-wrapper {
  @include flex-flow(row);
  align-items: center;
  cursor: pointer;
  max-width: fit-content;

  &.disabled {
    cursor: not-allowed;
    div.checkbox {
      border-color: var(--gray200);
    }
    .label {
      color: var(--gray400);
    }
  }

  &:hover {
    .checkbox {
      border-color: var(--primary400);
    }
  }
  &:active {
    .checkbox {
      border-color: var(--primary500);
    }
  }
  &.selected {
    .checkbox {
      border-color: transparent;
      background-color: var(--primary500);
    }
  }
}
.checkbox {
  @include flex-flow(row);
  align-items: center;
  height: $size;
  width: $size;
  min-width: $size;
  border-radius: 2px;
  border: 2px solid var(--gray200);
  transition: all 250ms ease-in-out;
  .check-icon {
    position: relative;
    left: -2px;
  }
}

.label {
  font-size: var(--font-size-base);
  font-weight: 400;
  margin-left: 0.5rem;
  user-select: none;
  pointer-events: none;
}
</style>
