<script setup lang="ts">
import LabelText from "@/components/inputs/LabelText.vue";
import RadioButton from "@/components/inputs/options/RadioButton.vue";
import type { Option } from "@/types";
import { v4 as uuidv4 } from "uuid";

// TODO: Implement disabled and required
defineProps({
  modelValue: {
    type: Object as () => Option,
  },
  prompt: {
    type: String,
    default: "Select",
  },
  options: {
    type: Array as () => Array<Option>,
    required: true,
  },
  label: String,
  id: {
    type: String,
    default: () => uuidv4(),
  },
});

const emit = defineEmits(["update:modelValue"]);

function handleOptionClick(option: Option) {
  emit("update:modelValue", option);
}
</script>

<template>
  <div class="radio-list">
    <label-text :label-for="id" :label="label" />
    <radio-button
      v-for="option in options"
      :label="option.name"
      :id="option.key"
      :key="option.key"
      :selected="option.key === modelValue?.key"
      @change="handleOptionClick(option)"
    />
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.radio-list {
  @include flex-flow(column);
  row-gap: 0.5rem;
  width: fit-content;
  &:hover > label {
    color: var(--primary400);
    &.disabled {
      color: var(--gray200);
    }
  }
}
</style>
