<script setup lang="ts">
import { v4 as uuidv4 } from "uuid";

const id = uuidv4();

const props = defineProps({
  selected: Boolean,
  disabled: Boolean,
  label: {
    type: String,
    default: "Label",
  },
});

const emit = defineEmits(["change"]);

function handleClick() {
  emit("change", true);
}
</script>

<template>
  <div class="wrapper" @click="handleClick">
    <input
      type="radio"
      :id="id"
      class="radio-button"
      :checked="selected"
      :disabled="disabled"
      @keyup.enter="handleClick"
    />
    <label :for="id" class="label">{{ label }}</label>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/colors.scss";
$size: 1rem;

.wrapper {
  cursor: pointer;
  width: fit-content;
}

.radio-button {
  position: absolute;
  opacity: 0;
  margin: 0;
  width: $size;
  height: $size;
  + .label {
    &::before {
      display: inline-block;
      position: relative;
      width: $size;
      height: $size;
      vertical-align: middle;
      margin-right: 0.5rem;

      cursor: pointer;
      content: "";
      border-radius: 100%;
      border: 3px solid var(--gray200);

      text-align: center;
      transition: all 200ms ease-in-out;
    }
  }
  &:checked {
    + .label {
      &::before {
        border: 5px solid var(--primary500);
      }
    }
  }
  &:hover:not(:checked),
  &:focus:not(:checked) {
    + .label {
      &::before {
        border: 3px solid var(--primary400);
      }
    }
  }
  &:disabled {
    + .label {
      &::before {
        border: 5px solid var(--primary400);
      }
    }
  }
  + .label {
    cursor: pointer;
    &:empty {
      &:before {
        margin-right: 0;
      }
    }
  }
}

.label {
  font-size: var(--font-size-base);
  font-weight: 400;
}
</style>
