<script setup lang="ts">
import Popover from "@/components/modals/Popover.vue";
import type { Option } from "@/types/Option";
import { ref, watch } from "vue";

const props = defineProps({
  open: Boolean,
  options: {
    type: Array as () => Array<Option>,
    required: true,
  },
  focusedIndex: {
    type: Number,
    required: true,
  },
});

const maxVisible = 5; // For easier configuration
const topVisibleIndex = ref(0);
const bottomVisibleIndex = ref(Math.min(props.options.length, maxVisible - 1));
const wrapperRef = ref<HTMLDivElement | undefined>(undefined);

watch(props, (newProps) => {
  if (wrapperRef.value) {
    const optionHeight =
      wrapperRef.value.getBoundingClientRect().height /
      Math.min(props.options.length, maxVisible);
    if (newProps.focusedIndex > bottomVisibleIndex.value) {
      const newYPosition = optionHeight * newProps.focusedIndex;
      wrapperRef.value.scrollTop = newYPosition;
      bottomVisibleIndex.value = newProps.focusedIndex + (maxVisible - 1);
      topVisibleIndex.value = newProps.focusedIndex;
    } else if (newProps.focusedIndex < topVisibleIndex.value) {
      const newYPosition =
        optionHeight * (newProps.focusedIndex - (maxVisible - 1));
      wrapperRef.value.scrollTop = newYPosition;
      bottomVisibleIndex.value = newProps.focusedIndex;
      topVisibleIndex.value = newProps.focusedIndex - (maxVisible - 1);
    }
  }
});

const emit = defineEmits(["change", "close"]);

function handleOptionClick(option: Option) {
  emit("change", option);
}
</script>

<template>
  <transition name="grow">
    <popover
      :open="open"
      @close="$emit('close')"
      horizontal="right"
      :do-horizontal-parent-width="false"
      :close-on-click-away="false"
    >
      <div class="options" ref="wrapperRef">
        <button
          class="option"
          :class="{ focused: index === focusedIndex }"
          v-for="(option, index) in options"
          :key="option.key"
          @click="handleOptionClick(option)"
        >
          <span @click="handleOptionClick(option)">{{ option.name }}</span>
        </button>
      </div>
    </popover>
  </transition>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

$height: 3rem;

.options {
  min-height: $height;
  max-height: calc($height * 5);
  width: 100%;
  overflow-y: auto;

  border: 1px solid var(--gray200);
  border-radius: 0.25rem;
}

.option {
  @include flex-flow(row);
  justify-content: flex-start;
  align-items: center;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: $height;
  padding: 0 1.5rem;

  background-color: var(--gray50);
  cursor: pointer;

  span {
    text-align: start;
  }

  &:hover,
  &.focused {
    background-color: var(--primary100);
  }

  &:active {
    background-color: var(--primary200);
  }
}
</style>
