<script setup lang="ts">
import { useStore } from "@/stores/MainStore";
import { storeToRefs } from "pinia";
import { useRoute, useRouter } from "vue-router";
import CustomButton from "./buttons/CustomButton.vue";
import NavigationMenu from "./NavigationMenu.vue";
import Icon from "./decoration/Icon.vue";
import { ref } from "vue";
import UserMenu from "./UserMenu.vue";

const main = useStore();
const { user } = storeToRefs(main);
const router = useRouter();
const route = useRoute();

const menuOpen = ref(false);
</script>

<template>
  <div class="appbar-wrapper">
    <div class="row">
      <custom-button
        variant="icon"
        @click="menuOpen = !menuOpen"
        class="menu-button"
        :class="{ fullpage: route.meta.fullPage }"
        v-if="!route.meta.removesNavMenu"
      >
        <icon name="menu" />
      </custom-button>
      <div class="appbar-title">
        <router-link :to="{ name: 'home' }">Planleggeren</router-link>
      </div>
    </div>
    <navigation-menu
      v-if="!route.meta.removesNavMenu"
      :open="menuOpen"
      @close="menuOpen = false"
      class="appbar-navmenu"
    />
    <div v-if="user">
      <user-menu />
    </div>
    <div v-if="!user">
      <custom-button :link="{ name: 'signInPassword' }" variant="text">
        <span>Logg inn</span>
      </custom-button>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.appbar-wrapper {
  @include flex-flow(row);
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 100;
  box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 0.1);
}

.appbar-title {
  > a {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--gray800);
  }
}

.appbar-navmenu {
  position: absolute;
  inset: 3rem auto auto 0;
}

.row {
  @include flex-flow(row);
  align-items: center;
}

.menu-button {
  margin-right: 1rem;
  @include pc {
    visibility: hidden;
    margin: 0;
    width: 0;
    pointer-events: none;
  }
  &.fullpage {
    visibility: visible;
    margin-right: 1rem;
    width: initial;
    pointer-events: all;
  }
}
</style>
