<script setup lang="ts">
import { useResponsiveStore } from "@/stores/ResponsiveStore";
import { onBeforeUnmount, onMounted, ref, watch } from "vue";
import { useRoute } from "vue-router";
import Icon from "./decoration/Icon.vue";

const route = useRoute();

interface LinkItem {
  routeName: string;
  iconName: string;
  label: string;
}

const props = defineProps({
  open: Boolean,
  links: {
    type: Array as () => LinkItem[],
    default: (): LinkItem[] => [
      { routeName: "tasks", iconName: "inbox", label: "Oppgaver" },
      { routeName: "preferences", iconName: "tool", label: "Preferanser" },
      {
        routeName: "importCalendar",
        iconName: "calendar",
        label: "Importer kalender",
      },
      {
        routeName: "schedule",
        iconName: "layout",
        label: "Timeplan",
      },
    ],
  },
});

const emit = defineEmits(["close"]);
const newlyOpened = ref(false);
const hasBeenSetup = ref(false);
const containerRef = ref<HTMLDivElement | undefined>(undefined);

watch(props, (newProps) => {
  if (newProps.open) {
    setTimeout(() => {
      newlyOpened.value = true;
    }, 200);
  } else {
    newlyOpened.value = false;
  }
});

function detectClick(event: MouseEvent) {
  if (containerRef.value && props.open && newlyOpened.value) {
    containerRef.value.getBoundingClientRect();
    const rect = containerRef.value.getBoundingClientRect();
    const hitsColumn = event.clientY > rect.top && event.clientY < rect.bottom;
    const hitsRow = event.clientX > rect.left && event.clientX < rect.right;
    if (!hitsColumn || !hitsRow) {
      emit("close");
      newlyOpened.value = false;
    }
  }
}

onMounted(() => {
  if (!hasBeenSetup.value) {
    document.addEventListener("click", detectClick);
  }
  hasBeenSetup.value = true;
});

onBeforeUnmount(() => {
  document.removeEventListener("click", detectClick);
});

const responsiveStore = useResponsiveStore();
</script>

<template>
  <nav
    class="navigation-menu-wrapper"
    :class="{ open, fullpage: route.meta.fullPage }"
    ref="containerRef"
  >
    <router-link
      v-for="link in links"
      :key="link.routeName"
      class="navigation-item"
      :class="{
        active: route.name === link.routeName,
      }"
      :to="{ name: link.routeName }"
      @click="$emit('close')"
      :tabindex="responsiveStore.isMobile && !open ? -1 : 0"
    >
      <icon :name="link.iconName" /><span>{{ link.label }}</span>
    </router-link>
  </nav>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.navigation-menu-wrapper {
  background-color: white;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-property: opacity;

  border-radius: 0 0 4px 0;
  overflow: hidden;
  @include mobile {
    opacity: 0;
    pointer-events: none;
    box-shadow: 4px 4px 3px 1px rgba($color: #000000, $alpha: 0.4);
    z-index: 10;
  }

  &.fullpage {
    opacity: 0;
    pointer-events: none;
    box-shadow: 4px 4px 3px 1px rgba($color: #000000, $alpha: 0.4);
    z-index: 10;
  }
  &.open {
    opacity: 1;
    pointer-events: initial;
  }
}

.navigation-item {
  @include flex-flow(row);
  align-items: center;
  text-decoration: none;
  color: var(--gray600);
  transition: background-color 150ms ease-in-out;
  column-gap: 0.5rem;
  padding: 0.5rem 2rem;
  outline: none;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--gray400);
  }

  &.active {
    color: var(--gray900);
    background-color: var(--primary100);
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    background-color: var(--primary100);
  }

  &:active {
    background-color: var(--primary200);
  }
}
</style>
