<script setup lang="ts">
import { useStore } from "@/stores/MainStore";
import { ref } from "vue";
import { useRouter } from "vue-router";
import PopoverMenu from "./buttons/PopoverMenu.vue";
import Modal from "./modals/Modal.vue";
import InputField from "./inputs/InputField.vue";
import CustomButton from "./buttons/CustomButton.vue";
import { reauthenticatePassword } from "@/firebase/auth/reauthenticatePassword";
import { removeUser } from "@/firebase/services/userServices";
import ErrorMessage from "./feedback/ErrorMessage.vue";
import { clearUserData } from "@/utils/syncUtils";

const main = useStore();
const router = useRouter();

async function signOut() {
  const success = await main.signOut();
  if (success) {
    router.push({ name: "authPrompt" });
  }
}

const deleteModalOpen = ref(false);

function showDeleteUserConfirmation() {
  deleteModalOpen.value = true;
}

const email = ref("");
const password = ref("");
const error = ref("");
const loading = ref(false);
async function deleteUser() {
  loading.value = true;
  const credentials = await reauthenticatePassword(email.value, password.value);
  if (credentials) {
    await removeUser(credentials.user.uid);
    main.setUser(null);
    clearUserData();
    router.push({ name: "authPrompt" });
  } else {
    error.value =
      "Noe gikk galt. Vennligst bekreft epost og passord og prøv igjen";
  }
  error.value = "";
  loading.value = false;
}
</script>

<template>
  <div class="user-menu">
    <popover-menu
      :options="[
        { label: 'Logg ut', iconName: 'log-out', callback: signOut },
        {
          label: 'Slett bruker',
          iconName: 'trash-2',
          callback: showDeleteUserConfirmation,
        },
      ]"
      button-icon-name="user"
    />
    <modal :open="deleteModalOpen" @close="deleteModalOpen = false">
      <div class="delete-user-confirmation-modal">
        <h6>Vil du slette brukeren din permanent?</h6>
        <p>Dette kan ikke angres.</p>
        <p>Skriv inn epost og passord for å bekrefte sletting</p>
        <error-message v-if="error.length" :message="error" />
        <div class="reauth">
          <input-field type="email" label="Epost" v-model="email" />
          <input-field type="password" label="Passord" v-model="password" />
        </div>
        <div class="delete-user-confirmation-modal-buttons">
          <custom-button
            variant="outlined"
            color="danger"
            @click="deleteUser"
            :disabled="!email || !password"
            :loading="loading"
          >
            <span>Ja, slett brukeren min permanent</span>
          </custom-button>
          <custom-button variant="filled" @click="deleteModalOpen = false">
            <span>Nei</span>
          </custom-button>
        </div>
      </div>
    </modal>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.delete-user-confirmation-modal {
  @include flex-flow(column);
  row-gap: 1rem;
  > h6 {
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 0;
    white-space: pre;
  }
}

.reauth {
  @include flex-flow(column);
  row-gap: 1rem;
}

.delete-user-confirmation-modal-buttons {
  @include flex-flow(row);
  column-gap: 1rem;
  width: 100%;
}
</style>
