<script setup lang="ts">
import { ref } from "vue";

defineProps({
  summaryText: {
    type: String,
    required: true,
  },
});

const details = ref<HTMLDetailsElement | undefined>(undefined);
const summary = ref<HTMLElement | undefined>(undefined);
const animation = ref<Animation | null>(null);
const isClosing = ref(false);
const isExpanding = ref(false);

function onClick(event: Event) {
  event.preventDefault();
  if (!details.value) return;
  details.value.style.overflow = "hidden";
  if (isClosing.value || !details.value.open) {
    open();
  } else if (isExpanding.value || details.value.open) {
    shrink();
  }
}

function open() {
  if (!details.value) return;
  details.value.style.height = `${details.value.offsetHeight}px`;
  details.value.open = true;
  window.requestAnimationFrame(() => expand());
}

function expand() {
  if (!details.value || !summary.value) return;
  isExpanding.value = true;
  const startHeight = `${details.value.offsetHeight}px`;
  const endHeight = `${summary.value.offsetHeight}px`;
  if (animation.value) {
    animation.value.cancel();
  }
  animation.value = details.value.animate(
    {
      height: [startHeight, endHeight],
    },
    {
      duration: 200,
      easing: "ease-in-out",
    }
  );
  animation.value.onfinish = () => onAnimationFinish(true);
  animation.value.oncancel = () => (isExpanding.value = false);
}

function shrink() {
  if (!details.value || !summary.value) return;
  isClosing.value = true;
  const startHeight = `${details.value.offsetHeight}px`;
  const endHeight = `${summary.value.offsetHeight}px`;
  if (animation.value) {
    animation.value.cancel();
  }
  animation.value = details.value.animate(
    {
      height: [startHeight, endHeight],
    },
    {
      duration: 200,
      easing: "ease-in-out",
    }
  );
  animation.value.onfinish = () => onAnimationFinish(false);
  animation.value.oncancel = () => (isClosing.value = false);
}

function onAnimationFinish(open: boolean) {
  if (!details.value) return;
  details.value.open = open;
  animation.value = null;
  isClosing.value = false;
  isExpanding.value = false;
  details.value.style.height = details.value.style.overflow = "";
}
</script>

<template>
  <details class="custom-details" ref="details">
    <summary ref="summary" @click="onClick">{{ summaryText }}</summary>
    <div class="content" ref="content">
      <slot />
    </div>
  </details>
</template>

<style scoped lang="scss">
.custom-details {
  > summary {
    &::-webkit-details-marker,
    &::marker {
      display: none;
      visibility: hidden;
      color: transparent;
    }
  }
}
</style>
