<script setup lang="ts">
defineProps({
  message: String,
  fill: Boolean,
});
</script>

<template>
  <div class="error-message-wrapper" :class="{ fill }" v-if="message">
    <span>{{ message }}</span>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.error-message-wrapper {
  padding: 1rem;
  background-color: var(--error50);
  border: 1px solid var(--error200);
  width: fit-content;
  &.fill {
    width: 100%;
  }
}
</style>
