<script setup lang="ts">
defineProps({
  message: {
    type: String,
    required: true,
  },
  color: {
    type: String as () => "gray" | "black",
    default: () => "gray",
  },
  fill: Boolean,
});
</script>

<template>
  <div class="help-text-wrapper" :class="{ [color]: color, fill }">
    <span>{{ message }}</span>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.help-text-wrapper {
  width: fit-content;
  white-space: normal;
  &.gray > span {
    color: var(--gray500);
  }
  &.black > span {
    color: var(--gray800);
  }
  &.fill {
    width: 100%;
  }
}
</style>
