<script setup lang="ts">
import { ref } from "vue";
import CustomButton from "../buttons/CustomButton.vue";
import { v4 as uuidv4 } from "uuid";

export interface Instruction {
  message: string;
  link?: { href: string; label: string };
}

defineProps({
  instructions: {
    type: Array as () => Instruction[],
    required: true,
  },
  fill: Boolean,
  showLabel: {
    type: String,
    default: () => "Show help",
  },
  hideLabel: {
    type: String,
    default: () => "Hide help",
  },
});

const showHelp = ref(false);
</script>

<template>
  <div class="help-section">
    <custom-button
      variant="text"
      @click="showHelp = !showHelp"
      :icon="{ name: 'help-circle' }"
      :label="showHelp ? hideLabel : showLabel"
    />
    <div class="instructions" :class="{ hidden: !showHelp }">
      <p v-for="instruction in instructions" :key="uuidv4()">
        {{ instruction.message }}
        <a v-if="instruction.link" :href="instruction.link.href">{{
          instruction.link.label
        }}</a>
      </p>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";
.help-section {
  @include flex-flow(column);
  align-items: flex-start;
  width: fit-content;
  &.fill {
    width: 100%;
  }
}
.instructions {
  @include flex-flow(column);
  width: 100%;
  row-gap: 0.5rem;
  overflow: hidden;
  background-color: var(--primary50);
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  will-change: height padding margin-top;
  transition-property: height padding margin-top;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  max-height: 6.5rem;
  margin-top: 0.5rem;
  &.hidden {
    max-height: 0;
    padding: 0 0.5rem;
    margin-top: 0;
  }
}
</style>
