<script setup lang="ts">
import Icon from "../decoration/Icon.vue";

defineProps({
  message: {
    type: String,
    required: true,
  },
  left: Boolean,
});
</script>

<template>
  <div>
    <icon
      name="help-circle"
      size="small"
      color="#627083"
      v-tooltip="{ label: message, left }"
    />
  </div>
</template>
