<script setup lang="ts">
defineProps({
  color: String,
  width: {
    type: String,
    default: () => "32px",
  },
});
</script>

<template>
  <div :style="{ maxWidth: width }">
    <svg
      class="spinner"
      :style="{ stroke: color }"
      :viewBox="`0 0 100 100`"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle class="spinner-circle" cx="50" cy="50" r="45"></circle>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.spinner {
  max-width: 100%;
  animation: 2s linear infinite svg--animation;
  stroke: var(--text-color);
}

.spinner-circle {
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-width: 10;
  transform-origin: 50% 50%;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-name: circle--animation;
}

@keyframes circle--animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

@keyframes svg--animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
</style>
