<script setup lang="ts">
import { RouterView } from "vue-router";
import Toast from "./components/modals/Toast.vue";
</script>

<template>
  <div id="app">
    <router-view />
    <toast />
  </div>
</template>

<style lang="scss">
@import "@/assets/styles/a11y.scss";
@import "@/assets/styles/animations.scss";
@import "@/assets/styles/colors.scss";
@import "@/assets/styles/mixins.scss";
@import "@/assets/styles/text.scss";
@import "@/assets/styles/tooltip.scss";
@import "@/assets/styles/reset.scss";
</style>
