:root {
  --animation-duration: 100ms;
  --animation-function: ease-in-out;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--animation-duration) var(--animation-function);
  will-change: opacity;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.grow-enter-active,
.grow-leave-active {
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-property: scale;
  transform-origin: 0% 0%;
  will-change: transform;
}

.grow-enter-from,
.grow-leave-to {
  transform: scale(0);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
  transition-property: transform;
  transform: translateY(0vh);
  will-change: transform;
  position: absolute;
}

.slide-up-enter-from {
  transform: translateY(100vh);
}

.slide-up-leave-to {
  transform: translateY(-100vh);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
  transition-property: transform;
  transform: translateY(0vh);
  will-change: transform;
  position: absolute;
}

.slide-down-enter-from {
  transform: translateY(-100vh);
}

.slide-down-leave-to {
  transform: translateY(100vh);
}

.flip-list-move {
  transition: transform 200ms;
  will-change: transform;
}
