@mixin flex-flow($direction, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin pc {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.hide-on-mobile {
  @include mobile {
    display: none;
  }
}

.hide-on-pc {
  @include pc {
    display: none;
  }
}