@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import "./mixins.scss";

* {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --font-size-xxxxl: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
}

p,
span {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-xxxxl);
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  margin: 0;
}

h5 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin: 0;
}

h6 {
  font-size: var(--font-size-md);
  font-weight: 500;
  margin: 0;
}

.title {
  margin-block: 2rem 1rem;
  @include mobile {
    margin-top: 1rem;
  }
}

a {
  color: var(--primary600);
  &:visited {
    color: var(--gray600);
  }
}
