@import "./colors.scss";

.data-v-tooltip {
  position: relative;
  &::after {
    z-index: 1000;
    content: attr(data-v-tooltip);
    position: absolute;
    inset: 0 50% auto 50%;
    transform: translate(-50%, -110%);
    width: max-content;
    background-color: var(--gray800);
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    white-space: pre-wrap;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    opacity: 0;
    pointer-events: none;
    max-width: 10rem;
  }
  &.data-v-tooltip-left::after {
    left: 0;
    right: auto;
  }
  &.data-v-tooltip-right::after {
    left: calc(0% + 4.5rem);
    right: auto;
  }
  &:hover::after {
    opacity: 1;
  }
}

