<script setup lang="ts">
import InputField from "@/components/inputs/InputField.vue";
import dayjs, { Dayjs } from "dayjs";
import { DatePicker as VDatePicker } from "v-calendar";
import "v-calendar/dist/style.css";

defineProps({
  modelValue: Dayjs,
  label: String,
  id: String,
  format: {
    type: String,
    default: "DD/MM/YYYY",
  },
  variant: {
    type: String as () => "outlined" | "filled" | "underlined",
    default: () => "underlined",
  },
  compact: Boolean,
  required: Boolean,
  minDate: Dayjs,
  maxDate: Dayjs,
});
const emit = defineEmits<{
  (event: "update:modelValue", value: Dayjs): void;
}>();

function handleChange(value: Date) {
  emit("update:modelValue", dayjs(value));
}
</script>

<template>
  <v-date-picker
    :modelValue="modelValue?.toDate()"
    @update:model-value="handleChange"
    :masks="{ input: format }"
    :min-date="minDate?.toDate()"
    :max-date="maxDate?.toDate()"
    show-weeknumbers
    :is-required="required"
  >
    <template v-slot="{ inputValue, inputEvents }">
      <div class="date-picker">
        <input-field
          :model-value="inputValue"
          v-on="inputEvents"
          :id="id"
          :label="label"
          :placeholder="format"
          icon="calendar"
          :required="required"
          :variant="variant"
          :compact="compact"
          input-width="7.25rem"
        />
      </div>
    </template>
  </v-date-picker>
</template>

<style scoped lang="scss">
.date-picker {
  max-width: 8.25rem;
}
</style>
