<script setup lang="ts">
import DatePicker from "@/components/inputs/datetime/DatePicker.vue";
import TimePicker from "@/components/inputs/datetime/TimePicker.vue";
import type { Time } from "@/types";
import { Dayjs } from "dayjs";
import { v4 as uuidv4 } from "uuid";
import { computed } from "vue";
import LabelText from "../LabelText.vue";

const id = uuidv4();

const props = defineProps({
  modelValue: {
    type: Object as () => Dayjs,
    required: true,
  },
  required: Boolean,
  disabled: Boolean,
  label: String,
  minDate: Dayjs,
  maxDate: Dayjs,
});

const time = computed(() => {
  const hour = props.modelValue?.hour() ?? 0;
  const minute = props.modelValue?.minute() ?? 0;
  return { hour, minute };
});

const emit = defineEmits<{
  (event: "update:modelValue", value: Dayjs | undefined): void;
}>();

function zeroSecondsMs(date: Dayjs) {
  return date.set("second", 0).set("millisecond", 0);
}

function handleUpdateTime(time: Time) {
  emit(
    "update:modelValue",
    zeroSecondsMs(
      props.modelValue.set("hour", time.hour).set("minute", time.minute)
    )
  );
}

function handleUpdateDate(date: Dayjs) {
  emit("update:modelValue", zeroSecondsMs(date));
}
</script>

<template>
  <div class="date-time-picker">
    <label-text
      :label="label"
      :disabled="disabled"
      :label-for="id"
      :required="required"
    />
    <div class="date-time-picker-inputs">
      <div>
        <date-picker
          :model-value="modelValue"
          @update:model-value="handleUpdateDate"
          :id="id"
          compact
          :min-date="minDate"
          :max-date="maxDate"
        />
      </div>
      <div class="time-picker-wrapper">
        <time-picker
          :model-value="time"
          @update:model-value="handleUpdateTime"
          :id="id"
          compact
        />
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.date-time-picker {
  @include flex-flow(column);
  row-gap: 0.5rem;
  width: fit-content;

  &:hover > label {
    color: var(--primary400);
  }
}

.date-time-picker-inputs {
  @include flex-flow(row, wrap);
  align-items: center;
  column-gap: 0.5rem;
}
</style>
