<script setup lang="ts">
import InputField from "@/components/inputs/InputField.vue";
import type { Time } from "@/types/";
import { computed, ref } from "vue";
import Popover from "../../modals/Popover.vue";

const props = defineProps({
  modelValue: {
    type: Object as () => Time,
    required: true,
  },
  min: Object as () => Time,
  max: Object as () => Time,
  id: String,
  label: String,
  format: {
    type: String,
    default: "HH:mm",
  },
  variant: {
    type: String as () => "outlined" | "filled" | "underlined",
    default: () => "underlined",
  },
  compact: Boolean,
  required: Boolean,
});

const focused = ref(false);

const formatTime = computed(() => {
  const hourString =
    props.modelValue.hour > 9
      ? props.modelValue.hour.toString()
      : `0${props.modelValue.hour}`;
  const minuteString =
    props.modelValue.minute > 9
      ? props.modelValue.minute.toString()
      : `0${props.modelValue.minute}`;
  return `${hourString}:${minuteString}`;
});
const emit = defineEmits<{ (event: "update:modelValue", value: Time): void }>();

function greaterThan(a: Time, b: Time) {
  return a.hour * 60 + a.minute > b.hour * 60 + b.minute;
}

function lessThan(a: Time, b: Time) {
  return a.hour * 60 + a.minute < b.hour * 60 + b.minute;
}

function handleInputChange(value: string) {
  if (!value.match("[0-2]{0,1}[0-9]:[0-5]{0,1}[0-9]")) return;
  const hour = Number(value.split(":")[0]);
  if (hour > 23 || hour < 0) return;
  const minute = Number(value.split(":")[1]);
  if (isNaN(minute) || isNaN(hour) || minute < 0) return;
  const time = { hour, minute };
  if (
    (props.min && lessThan(time, props.min)) ||
    (props.max && greaterThan(time, props.max))
  )
    return;
  emit("update:modelValue", time);
  focused.value = false;
  pickingHours.value = true;
}

const popoverOpen = ref(false);
const popoverRef = ref<HTMLElement>();
const pickingHours = ref(true);

function padNumber(value: number) {
  if (value < 10) return `0${value}`;
  return value.toString();
}

const paddedMinute = computed(() => {
  return padNumber(props.modelValue.minute);
});

const paddedHour = computed(() => {
  return padNumber(props.modelValue.hour);
});

function calcPointOnCircle(value: number, maxValue: number) {
  const percentage = value / maxValue;
  const degrees = 2 * Math.PI * percentage - Math.PI / 2;
  const x = (Math.cos(degrees) + 1) / 2;
  const y = (Math.sin(degrees) + 1) / 2;
  return { x, y };
}

function calcPosition(hour: number, maxValue: number) {
  const point = calcPointOnCircle(hour, maxValue);
  const top = `${point.y * 100}%`;
  const left = `${point.x * 100}%`;
  return { top, left };
}

const outerHours = computed(() => {
  return Array.from(Array(12).keys()).map((value) => {
    const pos = calcPosition(value, 12);
    const displayValue = value === 0 ? 12 : value;
    return { value: displayValue, pos };
  });
});

const innerHours = computed(() => {
  return Array.from(Array(12).keys()).map((value) => {
    const pos = calcPosition(value, 12);
    const displayValue = value === 0 ? 0 : value + 12;
    return { value: displayValue, pos };
  });
});

const minutes = computed(() => {
  return Array.from(Array(12).keys()).map((value) => {
    const pos = calcPosition(value, 12);
    const displayValue = value * 5;
    return { value: displayValue, pos };
  });
});

const chosenPosition = computed(() => {
  if (pickingHours.value) {
    const point = calcPointOnCircle(props.modelValue.hour % 12, 12);
    if (props.modelValue.hour > 0 && props.modelValue.hour < 13) {
      return { x: point.x * 100, y: point.y * 100 };
    } else {
      const scaledX = (point.x * 100) / 2 + 25;
      const scaledY = (point.y * 100) / 2 + 25;
      return { x: scaledX, y: scaledY };
    }
  } else {
    const point = calcPointOnCircle(props.modelValue.minute, 60);
    return { x: point.x * 100, y: point.y * 100 };
  }
});

function chooseHour(hour: number) {
  emit("update:modelValue", { hour, minute: props.modelValue.minute });
  pickingHours.value = false;
}

function chooseMinute(minute: number) {
  emit("update:modelValue", { hour: props.modelValue.hour, minute });
  closePopover();
}

function closePopover() {
  popoverOpen.value = false;
  pickingHours.value = true;
}

// TODO: Animate between clock hand positions when
// switching between hours and minutes
</script>

<template>
  <div ref="popoverRef" class="timepicker">
    <input-field
      :model-value="formatTime"
      @update:model-value="handleInputChange"
      @focus="focused = true"
      @mouseenter="popoverOpen = true"
      :id="id"
      :label="label"
      :placeholder="format"
      icon="clock"
      :required="required"
      :variant="variant"
      :compact="compact"
      input-width="4rem"
    />
    <popover :open="popoverOpen" @close="closePopover" :anchor="popoverRef">
      <div class="clock-popover">
        <div class="hour-minute-buttons">
          <button
            class="time-text"
            :class="{ active: pickingHours }"
            @click="pickingHours = true"
          >
            {{ paddedHour }}
          </button>
          <span class="time-text">:</span>
          <button
            class="time-text"
            :class="{ active: !pickingHours }"
            @click="pickingHours = false"
          >
            {{ paddedMinute }}
          </button>
        </div>
        <div class="clock">
          <div class="outer-clock">
            <transition-group name="fade">
              <div class="hours" v-if="pickingHours">
                <button
                  class="clock-marker"
                  v-for="hour in outerHours"
                  :class="{ active: hour.value === modelValue.hour }"
                  :style="{ top: hour.pos.top, left: hour.pos.left }"
                  :key="hour.value"
                  @click="chooseHour(hour.value)"
                >
                  {{ hour.value }}
                </button>
                <div class="inner-clock">
                  <button
                    class="clock-marker inner"
                    v-for="hour in innerHours"
                    :class="{ active: hour.value === modelValue.hour }"
                    :style="{ top: hour.pos.top, left: hour.pos.left }"
                    :key="hour.value"
                    @click="chooseHour(hour.value)"
                  >
                    {{ padNumber(hour.value) }}
                  </button>
                </div>
              </div>
              <div class="minutes" v-if="!pickingHours">
                <button
                  class="clock-marker"
                  v-for="minute in minutes"
                  :class="{ active: minute.value === modelValue.minute }"
                  :style="{ top: minute.pos.top, left: minute.pos.left }"
                  :key="minute.value"
                  @click="chooseMinute(minute.value)"
                >
                  {{ padNumber(minute.value) }}
                </button>
              </div>
            </transition-group>
          </div>
          <svg class="clock-center" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="1.5" />
          </svg>
          <svg class="clock-hand" viewBox="0 0 100 100">
            <line
              x1="50"
              y1="50"
              :x2="chosenPosition.x"
              :y2="chosenPosition.y"
            />
          </svg>
        </div>
      </div>
    </popover>
  </div>
</template>

<style scoped lang="scss">
.timepicker {
  width: fit-content;
}

.clock-popover {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--gray600);
  height: calc(290px + 31px - 8px);
  width: 290px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
  padding: 8px;
}

.hour-minute-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.time-text {
  border: none;
  background-color: transparent;
  color: var(--gray200);
  font-size: var(--font-size-md);
  font-weight: 400;
  cursor: default;
  &.active {
    color: white;
  }
}

button.time-text {
  cursor: pointer;
  transition: color 150ms ease-in-out;
  &:hover {
    color: var(--gray200);
  }
}

.clock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 290px;
  width: 100%;
  max-height: 290px;
  max-width: 290px;
  background-color: var(--gray500);
  border-radius: 100%;
  padding: 16px;
}

.hours,
.minutes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.outer-clock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  $offset: 12px;
  width: calc(100% - $offset);
  height: calc((100% - $offset));
}

.inner-clock {
  position: relative;
  $offset: 90px;
  width: calc(100% - $offset);
  height: calc((100% - $offset));
}

.clock-marker {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  font-size: var(--font-size-md);
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition-property: color background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  &.inner {
    font-size: var(--font-size-base);
    color: var(--gray400);
    &.active {
      color: var(--gray800);
    }
  }

  &:hover {
    background-color: var(--primary200);
    &:not(:active) {
      color: var(--primary800);
    }
  }

  &.active,
  &:active {
    background-color: var(--primary400);
  }
}

.clock-center {
  display: block;
  position: absolute;
  margin-inline: auto;
  fill: var(--primary400);
}

.clock-hand {
  display: block;
  width: calc(290px - 32px);
  height: calc(290px - 32px);
  position: absolute;
  margin-inline: auto;
  fill: var(--primary400);

  line {
    stroke-width: 1px;
    stroke: var(--primary400);
  }
}
</style>
