<script setup lang="ts">
import LabelText from "@/components/inputs/LabelText.vue";
import nb from "dayjs/locale/nb";
import { v4 as uuidv4 } from "uuid";

const props = defineProps({
  modelValue: {
    type: Array as () => number[],
    required: true,
  },
  label: String,
  required: Boolean,
  fill: Boolean,
  id: {
    type: String,
    default: () => uuidv4(),
  },
});

const weekdays = nb.weekdays?.slice(1).concat(nb.weekdays[0]);

const emit = defineEmits<{
  (event: "update:modelValue", value: number[]): void;
}>();

function handleClick(index: number) {
  const isOn = props.modelValue.find((value) => value === index) !== undefined;
  if (isOn) {
    emit(
      "update:modelValue",
      props.modelValue.filter((value) => value !== index)
    );
  } else {
    emit("update:modelValue", props.modelValue.concat(index).sort());
  }
}
</script>

<template>
  <div class="weekdays-picker" :class="{ fill }">
    <label-text :label-for="id" :label="label" :required="required" />
    <div class="weekdays-buttons" :class="{ fill }">
      <button
        class="toggle-button"
        v-for="(weekday, index) in weekdays"
        :key="index"
        :class="{
          toggled: modelValue.find((value) => value === index) !== undefined,
        }"
        @click="handleClick(index)"
      >
        {{ weekday.slice(0, 1) }}
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/styles/mixins.scss";

.weekdays-picker {
  @include flex-flow(column);
  row-gap: 0.25rem;
  --color: var(--primary600);
  --color-hover: var(--primary500);
  --color-active: var(--primary400);
  width: fit-content;
  &.fill {
    width: 100%;
  }
  &:hover > label {
    color: var(--color-hover);
  }
}

.weekdays-buttons {
  @include flex-flow(row);
  column-gap: 0.75rem;
  justify-content: space-between;
  max-width: 21.875rem;
  &.fill {
    max-width: 100%;
  }
  @include mobile {
    column-gap: 0.375rem;
  }
}

.toggle-button {
  padding: 0;
  outline: none;
  border: 1px solid var(--color);
  background-color: transparent;
  color: var(--color);
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  transition-property: color, border-color, background-color;
  border-radius: 100%;
  min-width: 2.5rem;
  min-height: 2.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: var(--color-hover);
    color: var(--color-hover);
  }
  &:active {
    border-color: var(--color-active);
    color: var(--color-active);
  }
  &.toggled {
    border: none;
    color: white;
    background-color: var(--color);
    &:hover,
    &:focus {
      background-color: var(--color-hover);
    }
    &:active {
      background-color: var(--color-active);
    }
  }
}
</style>
