<script setup lang="ts">
import FloatingActionButton from "@/components/buttons/FloatingActionButton.vue";
import ButtonShowcase from "./_components/ButtonShowcase.vue";
import FeedbackShowcase from "./_components/FeedbackShowcase.vue";
import InputShowcase from "./_components/InputShowcase.vue";
import ModalShowcase from "./_components/ModalShowcase.vue";

function goToTop() {
  location.href = "#showcase";
}
</script>

<template>
  <div class="showcase">
    <h1 id="showcase">Showcase</h1>
    <nav>
      <span>Table of contents:</span>
      <ul class="toc">
        <li>
          <a href="#buttons">Buttons</a>
        </li>
        <li>
          <a href="#inputs">Inputs</a>
        </li>
        <li>
          <a href="#modals">Modals</a>
        </li>
        <li>
          <a href="#feedback">Feedback components</a>
        </li>
      </ul>
    </nav>
    <button-showcase />
    <input-showcase />
    <modal-showcase />
    <feedback-showcase />

    <!-- TODO: Showcase decorations -->
    <floating-action-button
      :icon="{ name: 'chevron-up' }"
      title="Go to top"
      :callback="goToTop"
    />
  </div>
</template>

<style scoped lang="scss">
.showcase {
  padding: 1rem;
  margin-bottom: 10rem;
}

.toc {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
}
</style>

<style lang="scss">
.label {
  font-size: var(--font-size-md);
  font-weight: 500;
  margin: 0;
}
</style>
